
#unity-content-container {
    padding-left: 6;
    padding-top: 2;
}

#Title {
    padding-left: 9;
    padding-top: 2;
    margin-bottom: 9;
    flex-grow: 0;
}

.unity-toggle {
    margin-top: 2;
    margin-bottom: 2;
}

.unity-label {
    overflow: hidden;
    flex-grow: 0.1;
}

.unity-enum-field {
    margin-left: 1;
}